@model TrackRecommender.Models.TracksModel

@{
    ViewBag.Title = "Tracks";
}

<h2>Tracks</h2>
@if (Model.TrackList != null)
{
    foreach (var track in Model.TrackList.Tracks)
    {
        <div class="container">

            <div class="card">
                <div class="card-body">
                    <h6>@Html.DisplayFor(m => track.Name)</h6>
                    <img src="@track.Album.Images[1].Url"/>
                    <br/>
                    @foreach (var artist in track.Artists)
                    {
                        @Html.DisplayFor(a => artist.Name)
                        <br/>
                    }
                    <br/>
                    <a href="@($"https://open.spotify.com/track/{track.Id}")" target="_blank" class="btn btn-primary">PLAY</a>
                </div>
            </div>
        </div>
        <br/>
    }
}